---
---

//#############################################################################
//## Variables
//#############################################################################

// Basic Colors
$white:         #ffffff;
$gray:          #828282;
$light-gray:    lighten($gray, 40%);
$dark-gray:     darken($gray, 40%);
$black:         #1e1e1e;
$accent:        #fe9850;
$dark-accent:   darken($accent, 25%);

// Text
$text-font-family:                    'Lato', 'Open Sans', Helvetica, Arial, sans-serif !important;
$text-font-size:                      16px;
$text-font-weight:                    300;
$text-line-height:                    1.6em;
$text-font-size-small:                $text-font-size * 0.875;
$text-spacing-unit:                   15px;

$text-color:                          $black;
$text-title-color:                    $accent;
$text-quote-color:                    $accent;
$text-quote-border-color:             $white;
$text-quote-background-color:         $white;

// Headlines
$headline-h1-color:         $accent;
$headline-h2-color:         $accent;
$headline-h3-color:         $gray;
$headline-h4-color:         $gray;

$headline-h1-style:         normal;
$headline-h2-style:         italic;
$headline-h3-style:         normal;
$headline-h4-style:         normal;

// Links
$link-title-color:          $white;
$link-text-color:           $accent;
$link-hover-color:          $accent;
$link-post-color:           $dark-gray;
$link-page-color:           $gray;
$link-page-color-dark:      $dark-gray;

// Page
$page-color:                $white;
$page-shadow-color:         $light-gray;
$page-background-image:     url(/assets/images/page/bg_what-the-hex.png);
$page-background-color:     $white;
$page-header-image:         url(/assets/images/page/header.jpg);
$page-footer-color:         $white;

// Horizontal Lines
$line-color:                $dark-gray;
$line-color-light:          $light-gray;
$line-color-dark:           $dark-gray;

// Code
$code-backgroud-color:      $black;
$code-font-color:           $white;

// Table
$table-color:               $white;
$table-border-color:        $gray;

// Borders
$image-border-color:        $gray;

// Width of the content area
$content-width:             1100px;
$page-width:                1250px;
$on-palm:                   600px;
$on-laptop:                 800px;

// Media queries:
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";

// Import fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');