---
# Only the main Sass file needs front matter (the dashes are enough)
---

//#############################################################################
//## Variables
//#############################################################################

// Text
$text-font-family:          'Lato', 'Open Sans', Helvetica, Arial, sans-serif !important;
$text-font-size:            16px;
$text-font-weight:          300;
$text-line-height:          1.6em;
$text-font-size-small:      $text-font-size * 0.875;
$text-spacing-unit:         15px;
$text-color:                #111;
$text-quotation-color:      #FE9850;
$text-quotation-border-color:   #d0dfda;
$text-quotation-background-color: #d0dfda;
$text-markdown-toc-background-color: #d0dfda;

// Links
$link-title-color:          #ffffff;
$link-hover-color:          #FE9850;
$link-post-color:           #8c8c8c;
$link-page-color:           #afafaf;
$link-page-color-dark:      darken($link-page-color, 25%);

// Page
$page-color:                #ffffff;
$page-shadow-color:         #bbbbbb;
$page-background-image:     url(/assets/images/page/bg_what-the-hex.png);
$page-background-color:     #f9f9f9;
$page-header-image:         url(/assets/images/page/header.jpg);
$page-footer-color:         #ffffff;

// Horizontal Lines
$line-color:                #828282;
$line-color-light:          lighten($line-color, 40%);
$line-color-dark:           darken($line-color, 25%);

// Code
$code-backgroud-color:      #29281e;
$code-font-color:           #eeeeee;

// Table
$table-color:               #f8f8f8;
$table-border-color:        #d6d6d6;

// Width of the content area
$content-width:             1100px;
$page-width:                1250px;
$on-palm:                   600px;
$on-laptop:                 800px;

// Media queries:
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";

// Import fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');